.newTask {
  width: 550px;
  width: 550px;
  font-size: 25px;
  color: rgb(188, 137, 207);
}

#title {
  font-size: 30px;
  color: rgb(188, 137, 207);
}

.button{
  font-family: 'Lato', sans-serif !important;
}


